.wrapper {
  background-color: rgb(255, 250, 250);
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  background-color: rgb(230, 222, 222);
}
.title {
  text-align: center;
}
.title3 {
  color: red;
}
.red {
  color: red;
}
.name,
.input,
.item {
  max-width: 50%;
  width: 100%;
}
.item-1,
.item-2,
.item-3 {
  display: flex;
}

#select {
  width: 100%;
}
#text {
  width: 100%;
}
.margin-bottom-20 {
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}
td {
  border: 1px solid #181414;
  text-align: left;
}
th {
  background-color: darkgray;
  border: black 1px;
}
#table2 {
  border-collapse: collapse;
}
.nut {
  margin: 0 auto;
}
